@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.max-width{
    max-width: 1700px;
    padding: 0 60px;
    margin: auto;
}

html{
    scroll-behavior: smooth;
}


/* ----------------------------------------------------------------------------------------Navigation Style--------------------------------------------------------------------------------------------------------- */
.navbar{
    position: fixed;
    width: 100%;
    padding: 35px 0;
    font-family: 'Ubuntu', sans-serif;
    z-index: 999;
    transition: all 0.6s ease;
}

.navbar.sticky{
    padding: 25px 0;
    background: rgb(73, 14, 14);
}

.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    color: whitesmoke;
    font-size: 35px;
    font-weight: 600;
}


.navbar .logo a span{
    color: crimson;
    transition: all 0.6s ease-in-out;
}

.navbar.sticky .logo a span{
    color: whitesmoke;
}

.navbar.sticky .logo a span:hover{
    color: crimson;
    transition: color 0.5s ease;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}

.navbar .menu li a{
    color: whitesmoke;
    display: block;
    font-size: 18px;
    font-weight: 500;
    margin-left: 26px;
    transition: color 0.5s ease;
}

.navbar .menu li a:hover{
    color: crimson;
}

.navbar.sticky .menu li a{
    color: whitesmoke
}

.navbar.sticky .menu li a:hover{
    transition: color 0.5s ease;
    color: crimson;
}


/* ----------------------------------------------------------------------------------------------Menu Button---------------------------------------------------------------------------------------------------------- */
.menu-btn{
    color: whitesmoke;
    font-size: 25px;
    cursor: pointer;
    display: none;
}

.menu-btn:hover{
    color: crimson;
    transition: all 0.4s ease;
}

.navbar.sticky .menu-btn{
    color: whitesmoke;
}

.navbar.sticky .menu-btn:hover{
    color: red;
    transition: all 0.5s ease;
}


/* ----------------------------------------------------------------------------------------------------Scrollup Button----------------------------------------------------------------------------------------------- */
.scrollup-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    background: rgb(141, 4, 31);
    right: 35px;
    bottom: 20px;
    text-align: center;
    line-height: 47px;
    color: whitesmoke;
    z-index: 9999;
    font-size: 33px;
    border-radius: 20px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.6s ease;
}

.scrollup-btn:hover{
    border: solid 2px crimson;
    color: rgb(231, 8, 8);
    background: black;
    transition: color 0.4s ease;
}

.scrollup-btn.work{
    bottom: 55px;
    opacity: 1;
    pointer-events: auto;
}



/* ---------------------------------------------------------------------------------------------------Home Section ------------------------------------------------------------------------------------------------- */
.home{
    display: flex;
    background: url(images/Background.jpg) no-repeat center;
    height: 100vh;
    color: whitesmoke;
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;
}

.home .max-width{
    margin: auto 0 auto 40px;
}

.home .home-content .text-1{
    font-size: 27px;
}

.home .home-content .text-2{
    color: crimson;
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}

.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}

.home .home-content .text-3 span{
    color: crimson;
}

.home .home-content a{
    display: inline-block;
    background: darkred;
    color: whitesmoke;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 7px;
    border: 2px solid crimson;
    transition: all 0.5s ease;
}

.home .home-content a:hover{
    color: crimson;
    background: black;
}



/* ---------------------------------------------------------------------------------------Similar Codes for all SECTIONS ------------------------------------------------------------------------------------------*/
section{
    padding: 100px 0;
}

.about, .skill, .award, .contact{
    font-family: 'Poppins', sans-serif;
}


section .title{
    font-family: 'Ubuntu', sans-serif;
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 50px;
    padding-bottom: 20px;
    position: relative;
    text-align: center;
}
  

section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: black;
    transform: translateX(-50%);
}

section .title::after{
    position: absolute;
    bottom: -14px;
    left: 50%;
    font-size: 20px;
    color: rgb(155, 4, 34);
    padding: 5px;
    background: rgb(255, 255, 255);
    transform: translateX(-50%)
}


/* ---------------------------------------------------------------------------------------------------About Me Section ----------------------------------------------------------------------------------------------*/
.about .title span{
    color: rgb(129, 10, 10);
}

.about .title::after{
    content: "Introduction";
}

.about .about-content, .skill .skill-content, .contact .contact-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about .about-content .left{
    width: 50%;
}

.about .about-content .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 15px;
}

.about .about-content .right{
    width: 100%;
}

.about .about-content .right .text{
    font-size: 30px;
    font-weight: 450;
    margin-bottom: 11px;
    text-align: center;
}

.about .about-content .right .text span{
    color: crimson;
}

.about .about-content .right p{
    color: #222 ;
    text-align: justify;
    font-size: 18.3px;
}

.about .about-content .column{
    width: 50%;
}



/* --------------------------------------------------------------------------------------------Education Section ----------------------------------------------------------------------------------------------------*/
.education{
    background: black;
    color: rgb(202, 197, 197);
    font-family: 'Poppins', sans-serif;
}

.education .heading{
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    position: relative;
    font-size: 45px;
    font-weight: 500;
    margin-bottom: 30px;
    padding-bottom: 19px;
}

.education .heading::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background:rgb(209, 206, 206);
    transform: translateX(-50%);
}

.education .heading::after{
    content: "History";
    position: absolute;
    bottom: -15px;
    left: 50%;
    font-size: 20px;
    color: rgb(161, 3, 35);
    padding: 5px;
    background: black;
    transform: translateX(-50%)
}

.education .heading span{
    color: rgb(175, 15, 15);
}

.education .box-container{
    display: flex;  
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 16px 0;
}

.education .box-container .card{
    width: calc(33% - 20px);
    background: #222;
    border-radius: 10px;
    padding: 20px 20px;
    display: flex;  
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 80px;
    cursor: pointer;
    transition: all 1s ease;
}

.education .box-container .card:hover{
    border: 2px solid rgb(121, 19, 19);
    background: rgb(59, 22, 22);
    transition: all 1s ease;
}

.education .box-container .card .box{
    transition: all 0.45s ease;
}

.education .box-container .card:hover .box{
    transform:scale(1.05)
}

.education .box-container .box{
    width: 432px;
    margin: 64px 16px;
    padding-left: 64px;
    border-left: 3.2px solid rgb(138, 6, 6);
    position: relative;
}


.education .box-container .box span{
    font-size: 20.8px;
    background:rgb(122, 6, 6);
    color: rgb(212, 209, 209);
    border-radius: 80px;
    padding: 8px 40px;
}

.education .box-container .card:hover .box span{
    color: rgb(170, 22, 22);
    border: 2px solid rgb(187, 10, 46);
    background: rgb(10, 10, 10);
    transition: all 1s ease;
}

.education .box-container .box h3{
    font-size: 30px;
    color:rgb(160, 20, 20);
    padding-top: 24px;
}


.education .box-container .box p{
    font-size: 22.4px;
    color:rgb(223, 213, 213);
    padding: 16px 0;
}

.education .box-container .box i{
    position: absolute;
    top: -24px;; left:-40px;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    line-height: 80px;
    text-align: center;
    font-size: 32px;
    color: rgb(197, 194, 194);
    background: rgb(110, 11, 11);
}

.education .box-container .card:hover .box i{
    color: rgb(160, 20, 20);
    border: 2px solid rgb(187, 10, 46);
    background: black;
    transition: all 1s ease;
}


/* ----------------------------------------------------------------------------------------------Skills Section----------------------------------------------------------------------------------------------------- */
.skill, .award{
    background: rgb(7, 6, 6);
    color: rgb(167, 164, 164);
}

.skill .title span{
    color: rgb(175, 15, 15);
}

.skill .title::before, .award .title::before{
    background: whitesmoke;
}

.skill .title::after, .award .title::after{
    background: rgb(0, 0, 0);
    content: "Experience";
}

.skill .skill-content .box2 p{
    font-size: 18px;
    color: rgb(188, 189, 190);
}

.skill .skill-content .box2:hover p{
    color:rgb(223, 224, 226);
    transition: color 0.5s ease;
}

.skill .skill-content .card2{
    width: calc(33% - 20px);
    background: #222;
    text-align: center;
    padding: 20px 25px;
    cursor: pointer;
    border-radius: 10px;
}

.skill .skill-content .card2:hover{
    border: solid 2px rgb(148, 16, 16);
    transition: all 0.5s ease;
    background: rgb(49, 5, 5)
}

.skill .skill-content .card2 .box2{
    transition: all 0.5s ease;
}

.skill .skill-content .card2:hover .box2{
    transform: scale(1.05);
}

.skill .skill-content .card2 i{
    font-size: 45px;
    color: rgb(167, 17, 17);
    transition: color 0.5s ease;
}

.skill .skill-content .card2:hover i{
    transition: all 0.5s ease;
    color: rgb(180, 178, 178);
}


.skill .skill-content .card2 .text{
    color: rgb(182, 3, 3);
    font-size: 26px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}


/* ------------------------------------------------------------------------------------------------Award Section--------------------------------------------------------------------------------------------------- */
.award .title span{
    color: rgb(175, 15, 15);
}

.award .title::after{
    content: "Achievement";
}

.award .slide .card3{
    background-color: #222;
    border-radius: 10px;
    padding: 25px 35px;
    text-align: center;
    transition: all 0.5s ease;
}

.award .slide .card3:hover{
    border: solid 2px rgb(138, 14, 14);
    background: rgb(49, 4, 4);
    transition: all 0.5s ease;
}

.award .slide .card3 .box3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
}

.award .slide .card3:hover .box3{
    transform: scale(1.03);
}


.award .slide .card3 .text{
    color: rgb(192, 4, 4);
    font-size: 26px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}

.award .slide .card3 p{
    font-size: 17px;
}

.award .slide .card3:hover p{
    color: rgb(223, 224, 226);
    transition: all 0.5s ease;
}

.award .slide .card3 img{
    height: 320px;
    width: 210px;
    object-fit: cover;
    border-radius: 7%;
    border: 6px solid rgb(110, 11, 11);
}

.award .slide .card3:hover img{
    border: solid 6px rgb(177, 175, 175);
    transition: all 0.5s ease;
}

.owl-dots{
    text-align: center;
    margin-top: 20px;
}

.owl-dot{
    height: 15px;
    width: 15px;
    margin: 0 10px;
    outline: none !important;
    border-radius: 20%;
    border: 2px solid rgb(182, 3, 3) !important
}

.owl-dot.active{
    width: 40px;
    border-radius: 3px
}

.owl-dot.active, .owl-dot:hover{
    background: rgb(148, 16, 16) !important;
    transition: all 0.6s ease;
}


/* Contact Section */
.contact .title::after{
    content: "Hello";
}

.contact .title{
    color: rgb(13, 13, 14);
}

.contact .title span{
    color: rgb(138, 14, 14);
}

.contact .contact-content .left .text span{
    color: crimson
}

.contact .contact-content .right .text span{
    color: crimson;
}

.contact .contact-content .column{
    width: calc(50% - 30px);
}

.contact .contact-content .text{
    font-size: 22px;
    font-weight: 550;
    margin-bottom: 11px;
}


.contact .contact-content .left p{
    font-size: 17px;
    text-align: justify;
}

.contact .contact-content .left .icon{
    margin: 10px 0;
}

.contact .contact-content .row{
    display: flex;
    height: 65px;
    align-items: center;
}

.contact .contact-content .row .info{
    margin-left: 25px;
}

.contact .contact-content .row i{
    font-size: 27px;
    color: rgb(155, 6, 6);
}

.contact .contact-content .info .head{
    color:rgb(146, 7, 7);
    font-size: 17px;
    font-weight: 610;
}

.contact .contact-content .info .sub{
    font-weight: 430;
    color: #333;
}

.contact .right form .fields{
    display: flex;
}

.contact .right form .field, .contact .right form .fields .field{
    height: 45px;
    width: 100%;
    margin-bottom: 16px;
}

.contact .right form .message{
    height: 80px;
    width: 100%;
}

.contact .right form .name{
    margin-right: 10px;
}

.contact .right form .email{
    margin-left: 10px;
}

.contact .right form .field input, .contact .right form .message textarea{
    height: 100%;
    width: 100%;
    border: 1px solid rgb(153, 4, 4);
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
}

.contact .right form .message textarea{
    padding-top: 9px;
    resize: none;
}

.contact .right form .button{
    height: 45px;
    width: 170px;
}

.contact .right form .button button{
    width: 100%;
    height: 100%;
    border: 3px solid rgb(235, 8, 53);
    background: darkred;
    color: whitesmoke;
    font-size: 20px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.contact .right form .button button:hover{
    color: crimson;
    background: black;
    transition: all 0.5s ease;
}

::placeholder{
    color: rgb(110, 4, 4);
}

/* .alert-success{
    z-index: 0;
    background: rgb(0, 100, 25);
    font-size: 18px;
    padding: 20px 40px;
    min-width: 420px;
    position: fixed;
    align-items: center;
    text-align: center;
    bottom: 10px;
    border-left: 8px solid rgb(0, 155, 21);
    border-radius: 4px;
}*/




/* --------------------------------------------------------------------------------------------Responsive Media Query------------------------------------------------------------------------------------------------- */ 
@media (max-width: 1400px){
    .home .max-width{
        margin-left: 0px;
    }

    .navbar .logo a{
        font-size: 32px;
    }

    .navbar .menu li a{
        font-size: 17px;        
    }
}

@media (max-width: 1150px){
    .about .about-content .left img{
        height: 330px;
        width: 330px;
    }

    .navbar .logo a{
        font-size: 28px;
    }

    .navbar .menu li a{
        font-size: 16px;        
    }
}

@media (max-width: 980px){
    .max-width{
        padding: 0 60px;
    }
}

@media (max-width: 921px){
    .menu-btn{
        display: block;
        z-index: 999;
    }

    .menu-btn i.active::before{
        content: "\f00d";
    }

    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: black;
        text-align: center;
        padding-top: 100px;
        transition: all 0.6s ease;
    }

    .navbar .menu.active{
        left: 0;
    }

    .navbar .menu li{
        display: block;
    }

    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }

    .home .home-content .text-2{
        color: crimson;
        font-size: 60px;
    }
    
    .home .home-content .text-3{
        font-size: 32px;
    }

    .home .home-content a{
        font-size: 23px;
        padding: 10px 30px;
    }

    .max-width{
        max-width: 1200px;
    }

    .about .about-content .column{
        width: 100%;
    }

    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }

    .about .about-content .right{
        flex: 100%;
    }

    .education .box-container .card{
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }

    .skill .skill-content .card2{
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }

    .contact .contact-content .column{
        width: 100%;
        margin-bottom: 30px;
    }
}

@media (max-width: 770px){
    .max-width{
        padding: 0 24px;
    }

    .home .home-content .text-2{
        color: crimson;
        font-size: 55px;
    }
    
    .home .home-content .text-3{
        font-size: 29px;
    }

    .home .home-content a{
        font-size: 19px;
        padding: 7px 21px;
    }
    
    .education .box-container .box{
        width:100%;
    }

    .education .box-container .card{
        width: 100%;
    }

    .skill .skill-content .card2{
        width: 100%;
    }
}

@media (max-width: 550px){
    .max-width{
        padding: 0 23px;
    }

    .home .home-content .text-2{
        color: crimson;
        font-size: 45px;
    }
    
    .home .home-content .text-3{
        font-size: 24px;
    }

    .education .box-container .box{
        width:100%;
    }

    .education .box-container .card{
        width: 100%;
    }

}